body {
    padding-top: 100px;
}

div.main_container {
    width: 465px;
    margin: 0 auto;
    padding: 5px;
    background-color: grey;
    border: 10px solid rgb(160, 158, 158);
    
}

div.items_container {
    background-color: grey;
    border: 10px outset rgb(194, 192, 192);
    width: 450px;
    height: 438px;

    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    
}

div.item_box {
    background-color: rgb(247, 243, 243);
   
    font-size: xx-large;
    font-weight: bolder;
    border: 2px dashed rgb(0, 0, 0);
    
    width: 50px;
    height: 50px;

    flex-grow: 1;
}

div.item_content_center {
    display: table;
    text-align: center;
}

span.item_content_middle {
    display: table-cell;
    vertical-align: middle;
}

div.blue_color {
    color: blue;
}

div.red_color {
    color:red;
    
}

div.green_color {
    color:green;
}

div.bomb_item {
    background-image: url(./icone_bomb1.png);
    background-size:cover;
}

div.hidden_bomb {
    background-image: none;
}

div.hidden_number, div.hidden_empty, div.hidden_bomb {
    
    background-color:rgb(218, 218, 218);
    border: 3px solid rgb(247, 243, 243);
    border-style: inset;
    color: rgb(218, 218, 218);
}

div.blue_color:hover {
    color: blue;
}

div.green_color:hover {
    color: green;
}

div.red_color:hover {
    color: red;
}

div.hidden_empty:hover {
    background-color: rgb(247, 243, 243);
}

div.hidden_bomb:hover {
    background-image: url(./icone_bomb1.png);
    background-size:cover;
}